<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="My Store login Demo Suite" verbose="1">
    <listeners>
        <listener class-name="com.demo.ExtentReportListener.ExtentReportNG" />
    </listeners>
   
    <test name="Login tests">
        <classes>
            <class name="com.demo.testCase.LoginPageTest" />
        </classes>
    </test>
</suite>